{% extends 'protocolo/base.html' %}

{% comment %}
  blocks disponíveis
    head
    content
      page-header
      form
    body
{% endcomment %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
  {{ form.media.css }}
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% endblock head %}

{% block content %}
  {% block page-header %}{% endblock page-header %}
  {% block object %}{% endblock object %}
  {% block form %}
    <form method="post">
      {% crispy form helper %}
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  {% endblock form %}
{% endblock content %}

{% block body %}
  {{ form.media.js }}
{% endblock body %}
