{% extends 'protocolo/base_form.html' %}

{% load crispy_forms_tags %}

{% block page-header %}
  <h1 class="page-header">Adicionar Requerimento de Matrícula</h1>
  <h2>
    {% if form.subtipo.value == "M" %}
      Matrícula
    {% else %}
      Dispensa
    {% endif %}
  </h2>
{% endblock page-header %}

{% block form %}
  <form method="post">
    {% crispy form helper %}
    {% crispy formset helperset %}
    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
{% endblock form %}
