{% extends 'protocolo/base.html' %}

{% block content %}
  <h1 class="page-header">Requerimento</h1>
  <h2>
    {% if object.subtipo == "A" %}
      Alteração de Frequência ou Nota
    {% else %}
      Boletim
    {% endif %}
  </h2>
  <div class="row">
    <div class="col">
      <h2>{{ object.data_entrada|date:"Y" }} - {{ object.indice_anual }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Aluno: {{ object.aluno }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Disciplina: {{ object.disciplina }}</p>
    </div>
  </div>
{% endblock %}
