{% extends 'protocolo/base.html' %}

{% block content %}
  <h1 class="page-header">Requerimento de Matrícula</h1>
  <div class="row">
    <div class="col">
      <h2>{{ object.data_entrada|date:"Y" }} - {{ object.indice_anual }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Aluno: {{ object.aluno }}</p>
    </div>
  </div>
  <div class="row">
    {% for disciplina in object.disciplinas.all %}
        <div class="col">
          <p>{{ disciplina }}</p>
        </div>
    {% endfor %}
  </div>
{% endblock %}
